@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/star-wars");
@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");

.font-star {
  font-family: "Star Wars", sans-serif;
}
.font-dokdo {
  font-family: "East Sea Dokdo", cursive;
}

/* STAR WARS SWORD EFFECT */
.light-saber {
  border-radius: 10px;
  width: 65px;
  height: 2px;
  background: white;
}

/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}
