@import url("https://fonts.cdnfonts.com/css/star-wars");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-star {
  font-family: "Star Wars", sans-serif;
}

.light-saber {
  display: block;
  border-radius: 10px;
  width: 65px;
  height: 2px;
  background: white;
}
